body{
    text-align: center;
    background-color: rgb(210, 210, 208);
    font-family: Arial, Helvetica, sans-serif;
}
button{
    color: aliceblue;
    border-radius: 4px;
    background-color: black;
    height: 23px;
}
input{
    height: 24px;
    border-radius: 4px;
    border-width: 1px;
    border-color:  rgb(214, 214, 210);
}